@font-face {
    font-family: '9CJzXvcZ0eRPLGILiNOpTweF';
    src: url('fonts/9CJzXvcZ0eRPLGILiNOpTweF.eot');
    src: url('fonts/9CJzXvcZ0eRPLGILiNOpTweF.eot') format('embedded-opentype'),
         url('fonts/9CJzXvcZ0eRPLGILiNOpTweF.woff2') format('woff2'),
         url('fonts/9CJzXvcZ0eRPLGILiNOpTweF.woff') format('woff'),
         url('fonts/9CJzXvcZ0eRPLGILiNOpTweF.ttf') format('truetype'),
         url('fonts/9CJzXvcZ0eRPLGILiNOpTweF.svg#9CJzXvcZ0eRPLGILiNOpTweF') format('svg');
}
