body {
  font-family: "9CJzXvcZ0eRPLGILiNOpTweF";
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  min-width: 280px;
  margin: 0; }

.hidden {
  display: none; }

section {
  z-index: 10;
  padding: 50px 0px;
  position: relative;
  min-height: 480px; }
  section .section-header {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center; }
    section .section-header h2 {
      text-align: center;
      font-size: 2.8em; }
  section .section-details p {
    text-align: center; }

.s_header {
  min-height: 480px; }
  .s_header .logo-container {
    width: 50px;
    height: 50px;
    margin-top: 20px; }
    .s_header .logo-container img {
      width: 170px; }
  .s_header .toggle-menu {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 100;
    border: 1px solid #333;
    right: 20px;
    top: 20px;
    outline: none;
    background: #fff;
    border-radius: 4px; }
    .s_header .toggle-menu:hover {
      cursor: pointer; }
    .s_header .toggle-menu span {
      margin-left: -1px;
      position: absolute;
      content: "";
      display: block;
      background: #222;
      z-index: 50;
      width: 35px;
      height: 2px;
      transition: all 0.3s; }
    .s_header .toggle-menu:before {
      margin-left: -1px;
      top: 70%;
      position: absolute;
      content: "";
      display: block;
      background: #222;
      z-index: 50;
      width: 35px;
      height: 2px; }
    .s_header .toggle-menu:after {
      margin-left: -1px;
      top: 30%;
      position: absolute;
      content: "";
      display: block;
      background: #222;
      z-index: 50;
      width: 35px;
      height: 2px; }
  .s_header .toggle-menu_active span {
    position: absolute;
    content: "";
    display: block;
    background: #222;
    z-index: 50;
    width: 35px;
    height: 2px;
    transform: rotate(45deg); }
  .s_header .toggle-menu_active:before {
    top: 50%;
    position: absolute;
    content: "";
    display: block;
    background: #222;
    z-index: 50;
    width: 35px;
    height: 2px;
    transform: rotate(-45deg); }
  .s_header .toggle-menu_active:after {
    top: 50%;
    position: absolute;
    content: "";
    display: none;
    background: #222;
    z-index: 50;
    width: 35px;
    height: 2px;
    transform: rotate(45deg); }
  .s_header .top-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    right: 0;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.85); }
    .s_header .top-menu ul, .s_header .top-menu li {
      list-style-type: none;
      margin: 0 auto;
      padding: 0; }
    .s_header .top-menu ul {
      margin-top: 130px;
      text-align: center; }
      .s_header .top-menu ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        letter-spacing: 4px;
        font-size: 20px;
        padding: 5px 0;
        height: 100%;
        position: relative;
        outline: none;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .s_header .top-menu ul li a:hover {
          color: #00c874;
          background-color: rgba(255, 255, 255, 0.08); }
  .s_header .top-wrapper {
    display: table;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .s_header .top-wrapper .header-text {
      margin: 0px auto;
      text-align: center;
      font-size: 28px;
      color: #fff;
      margin-top: 15%; }
      .s_header .top-wrapper .header-text h1 {
        font-weight: 600;
        letter-spacing: 2px;
        display: inline-block;
        padding: 10px 15px; }
    .s_header .top-wrapper .header-details {
      text-align: center;
      font-size: 23px;
      color: #fff;
      margin: 0 auto; }

.s_about .section-content {
  padding: 10px 0; }
  .s_about .section-content .photo {
    text-align: center; }
    .s_about .section-content .photo img {
      display: inline-block;
      max-width: 250px;
      border-radius: 150px; }
  .s_about .section-content .about-me {
    text-align: left; }
    .s_about .section-content .about-me ul {
      padding: 0; }
  .s_about .section-content .technologies {
    text-align: center; }
    .s_about .section-content .technologies img {
      margin: 10px;
      max-width: 100%;
      max-height: 70px; }

.s_work {
  padding: 50px;
  z-index: 10;
  color: #fff; }
  .s_work .section-content {
    text-align: center; }
    .s_work .section-content .work-item {
      padding: 30px; }
      .s_work .section-content .work-item h4 {
        margin: 10px auto;
        font-weight: 400;
        font-size: 28px; }
        .s_work .section-content .work-item h4 span {
          font-size: 36px;
          font-weight: 600; }
      .s_work .section-content .work-item i {
        margin: 0 auto; }

.s_portfolio .controls {
  margin: 0 auto; }
  .s_portfolio .controls ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    text-align: center; }
    .s_portfolio .controls ul li {
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 2;
      cursor: pointer;
      letter-spacing: 2px;
      color: #333; }
    .s_portfolio .controls ul li.active {
      border-bottom: 1px solid #019b5a; }
.s_portfolio .portfolio_item {
  display: none;
  padding: 0; }
  .s_portfolio .portfolio_item img {
    width: 100%; }
  .s_portfolio .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.5s; }
    .s_portfolio .portfolio_item .port_item_cont:hover {
      opacity: 1;
      padding-top: 20%; }
    .s_portfolio .portfolio_item .port_item_cont h3 {
      color: #fff;
      margin-bottom: 0; }
    .s_portfolio .portfolio_item .port_item_cont a {
      background-color: transparent;
      border: #fff 1px solid;
      padding: 2px 10px;
      color: #fff;
      text-decoration: none;
      display: inline-block; }
      .s_portfolio .portfolio_item .port_item_cont a:hover {
        background-color: rgba(255, 255, 255, 0.2); }
    .s_portfolio .portfolio_item .port_item_cont p {
      color: #fff; }

.podrt_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto; }
  .podrt_descr p,
  .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px; }
  .podrt_descr p {
    margin-top: 0; }
  .podrt_descr img {
    width: 100%;
    margin-top: 10px; }
  .podrt_descr .modal-box-content {
    position: relative; }

.s_price {
  background-color: #333;
  color: #fff;
  text-transform: uppercase; }
  .s_price hr {
    background: #fff; }
  .s_price .price-item {
    padding: 2px;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    margin-top: 5px;
    border-radius: 3px; }
    .s_price .price-item .price-header h3 {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      padding: 1px; }
    .s_price .price-item .price-content {
      text-align: center; }
      .s_price .price-item .price-content ul {
        list-style: none;
        margin: 0 auto;
        padding: 5px; }
        .s_price .price-item .price-content ul li {
          text-align: center; }
    .s_price .price-item .price-image {
      padding: 4px; }
      .s_price .price-item .price-image img {
        width: 100%; }
    .s_price .price-item .price-money {
      text-align: center; }
      .s_price .price-item .price-money h4 {
        font-size: 20px; }
      .s_price .price-item .price-money span {
        font-weight: 600;
        font-size: 24px; }
    .s_price .price-item .price-btn {
      bottom: 1%;
      margin: 0 auto;
      text-align: center; }
      .s_price .price-item .price-btn .btn-card {
        width: 50%;
        padding: 1%;
        margin: 5%;
        outline: none;
        background-color: #019b5a;
        border: 1px solid #fff;
        color: #fff;
        font-size: 24px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .s_price .price-item .price-btn .btn-card:hover {
          background-color: #fff;
          color: #333;
          cursor: pointer; }

.s_contacts .contacts {
  padding: 25px 0; }
  .s_contacts .contacts h3 {
    font-size: 24px; }
  .s_contacts .contacts p {
    font-size: 16px; }
  .s_contacts .contacts .phone {
    margin-top: 15px; }
    .s_contacts .contacts .phone i {
      color: #00c874; }
  .s_contacts .contacts .email {
    margin-top: 25px; }
    .s_contacts .contacts .email i {
      color: #00c874; }
  .s_contacts .contacts .social-icons {
    margin-top: 35px;
    text-align: left; }
    .s_contacts .contacts .social-icons ul {
      margin: 0 auto;
      padding: 0;
      list-style-type: none; }
      .s_contacts .contacts .social-icons ul li {
        font-size: 24px;
        display: inline-block;
        margin: 10px; }
        .s_contacts .contacts .social-icons ul li a {
          width: 20px;
          height: 20px;
          color: #333;
          padding: 5px;
          text-decoration: none;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          .s_contacts .contacts .social-icons ul li a:hover {
            color: #fff;
            text-shadow: 1px 1px 2px #00c874, 0 0 1em #00c874; }
.s_contacts .contact-form .main_form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 25px;
  font-size: 13px;
  background: #019b5a;
  text-transform: uppercase;
  border: 1px solid #019b5a;
  font-weight: 600;
  margin-top: 10px;
  float: right;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .s_contacts .contact-form .main_form button:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #333;
    color: #333; }
.s_contacts .contact-form .main_form .form-group {
  display: block;
  margin-bottom: 20px; }
  .s_contacts .contact-form .main_form .form-group .color_element {
    font-weight: 700;
    font-size: 18px; }
  .s_contacts .contact-form .main_form .form-group .text-danger {
    font-size: 11px;
    margin-top: 5px;
    display: block; }
    .s_contacts .contact-form .main_form .form-group .text-danger ul,
    .s_contacts .contact-form .main_form .form-group .text-danger li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .s_contacts .contact-form .main_form .form-group input,
  .s_contacts .contact-form .main_form .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent; }
  .s_contacts .contact-form .main_form .form-group input {
    font-size: 15px; }

footer {
  background-color: #333; }
  footer .copyright {
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    color: #fff; }
